// COLOURS
// Text colours
$text-base: #18181B;
$text-muted: #71717A;
$text-accent: #18181B;
$text-on-color: #FAFAFA;

// To use, for example on toasts, banners, etc
$text-success: #166534;
$text-danger: #991B1B;
$text-warning: #854D0E;
$text-info: #1E40AF;


// Background colours
$background-base: #FFFFFF;
$background-accent: #F4F4F5;
$background-success: #F0FDF4;
$background-danger: #FEF2F2;
$background-warning: #FEFCE8;
$background-info: #EFF6FF;


// Border colours
$border-base: #E4E4E7;
$border-success: #166534;
$border-danger: #991B1B;
$border-warning: #854D0E;
$border-info: #1E40AF;

// GRAPHS
// Political bias background colors
$graph-background-far-left: #991B1B;
$graph-background-left: #991B1B;
$graph-background-center: #475569;
$graph-background-right: #1E40AF;
$graph-background-far-right: #1E40AF;

// Credibility background colors
$graph-background-very-high: #0F172A;
$graph-background-high: #334155;
$graph-background-mixed: #475569;
$graph-background-low: #94A3B8;
$graph-background-very-low: #CBD5E1;

// Graphs text colors
$graph-foreground-on-high-contrast: $text-accent;
$graph-foreground-on-low-contrast: $text-on-color;
