html, body {
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.get-started-button {
  background-color: #1a1a1a !important;
  border-color: #1a1a1a !important;
  color: white !important;
  padding: 0.8vh 2vw;
  font-size: 1.2vw;
  border-radius: 0.5vw;
  text-decoration: none;
  text-align: center;
  align-items: center;
  display: inline-block;
  width: 12vw; /* Width as a percentage of the viewport width */
  margin-top: 0.5vh;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2), 0px 4px 16px rgba(0, 0, 0, 0.15); /* Initial shadow */
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.get-started-button:hover {
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25), 0px 8px 16px rgba(0, 0, 0, 0.2); /* Stronger shadow on hover */
  transform: translateY(-4px); /* Lift effect on hover */
}

/* Container */
.container-homepage {
  width: 100%;
  min-height: 96vh;
  display: flex;
  align-items: center;
  margin: 0;
  justify-content: space-between;
  overflow-x: hidden;
  overflow-y: hidden;
}


.intro-container {
  width: 40%;
  margin-left: 3vw;
}

.intro-container h1 {
  font-size: 2vw;
  padding-bottom: 0.75vh;
}


.intro-container p {
  font-size: 1vw;
  line-height: 1.75;
}

/* Ellipses Container */
.ellipses-container {
  top: 4vh;
  width: 40vw;
  height: 40vw;
  border-radius: 50%;
  margin: 0 auto;
  position: relative;
}

@media screen and (max-width: 1220px) {
  .container-homepage {
    margin-top: 4vh;
    flex-direction:column-reverse;  /* Stack items vertically */
    align-items: center; /* Center items horizontally */
    justify-content: flex-end; /* Center items vertically */
  }
  .intro-container {
    width: 80%;
    margin-top: 6vh;
  }
  .intro-container h1 {
    font-size: 20px;
    padding-bottom: 3px;
  }
  .intro-container p {
    font-size: 14px;
    line-height: 1.75;
  }
  .get-started-button {
    padding: 0.8vh 2vw;
    font-size: 12px;
    border-radius: 0.5vw;
    text-decoration: none;
    text-align: center;
    align-items: center;
    display: inline-block;
    width: 150px; /* Width as a percentage of the viewport width */
    margin-top: 0.5vh;
  }
}
.greeting {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center; /* Center align the text */
  font-weight: 400;
  opacity: 0.9;
}

.greeting-line {
  display: block; /* Ensure each line is on a new line */
  font-size: 2vw;
  text-transform: uppercase;
  line-height: 1.4;
  letter-spacing: 2vw;
}

.greeting-line:first-child {
  font-size: 2vw; /* Larger size for "Welcome to VERIFAI" */
  font-weight: bold;
  margin-bottom: 1vw;
}

.greeting-line:nth-child(2) {
  text-align: center;
}

.ellipses {
  border-radius: 50%;
  position: absolute;
  top: 0;
  border-style: solid;
}

.ellipses__outer--thin {
  width: 100%;
  height: 100%;
  border-width: 1px;
  border-color: rgba(9, 56, 62, 0.1);
  animation: ellipsesOrbit 15s ease-in-out infinite;

  &:after {
    content: '';
    background-image: url('https://s29.postimg.org/5h0r4ftkn/ellipses_dial.png');
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.15;
  }
}

.ellipses__outer--thick {
  width: 100%;
  height: 100%;
  border-color: #09263e transparent;
  border-width: 2px;
  transform: rotate(-45deg);
  animation: ellipsesRotate 15s ease-in-out infinite;
}

.ellipses__orbit {
  width: 6.5vw;
  height: 6.5vw;
  border-width: 2px;
  border-color: #09263e;
  position: absolute;
  top: 1%;
  right: 13%;

  &:before {
    content: '';
    width: 14%;
    height: 14%;
    border-radius: 50%;
    background-color: #09263e;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@keyframes ellipsesRotate {
  0% {
    transform: rotate(-45deg);
  }
  100% {
    transform: rotate(-405deg);
  }
}

@keyframes ellipsesOrbit {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
