html, body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-y: hidden !important;
}

.top-right-button {
  position: fixed;
  top: 2vh;
  right: 2vw;
}

.top-right-button .btn {
  background-color: #1a1a1a !important;
  border-color: #1a1a1a !important;
  color: white !important;
  padding: 1.5vh 2vw;
  font-size: 1.2vw;
  border-radius: 0.5vw;
  text-decoration: none;
  display: inline-block;
}

.top-right-button .btn:hover {
  background-color: #333333 !important;
  border-color: #333333 !important;
  text-decoration: none;
}

/* Container */
.container-homepage {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  margin: 0;
  justify-content: space-between;
}


.intro-container {
  width: 40%;
  margin-left: 3vw;
}

.intro-container h1 {
  font-size: 2vw;
  padding-bottom: 0.75vh;
}

.intro-container p {
  font-size: 1vw;
  line-height: 1.75;
}

/* Ellipses Container */
.ellipses-container {
  top: 4vh;
  width: 40vw;
  height: 40vw;
  border-radius: 50%;
  margin: 0 auto;
  position: relative;
}

.greeting {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center; /* Center align the text */
  font-weight: 400;
  opacity: 0.9;
}

.greeting-line {
  display: block; /* Ensure each line is on a new line */
  font-size: 2vw;
  text-transform: uppercase;
  line-height: 1.4;
  letter-spacing: 2vw;
}

.greeting-line:first-child {
  font-size: 2vw; /* Larger size for "Welcome to VERIFAI" */
  font-weight: bold;
  margin-bottom: 1vw;
}

.greeting-line:nth-child(2) {
  text-align: center;
}

.ellipses {
  border-radius: 50%;
  position: absolute;
  top: 0;
  border-style: solid;
}

.ellipses__outer--thin {
  width: 100%;
  height: 100%;
  border-width: 1px;
  border-color: rgba(9, 56, 62, 0.1);
  animation: ellipsesOrbit 15s ease-in-out infinite;

  &:after {
    content: '';
    background-image: url('https://s29.postimg.org/5h0r4ftkn/ellipses_dial.png');
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.15;
  }
}

.ellipses__outer--thick {
  width: 100%;
  height: 100%;
  border-color: #09263e transparent;
  border-width: 2px;
  transform: rotate(-45deg);
  animation: ellipsesRotate 15s ease-in-out infinite;
}

.ellipses__orbit {
  width: 6.5vw;
  height: 6.5vw;
  border-width: 2px;
  border-color: #09263e;
  position: absolute;
  top: 1%;
  right: 13%;

  &:before {
    content: '';
    width: 14%;
    height: 14%;
    border-radius: 50%;
    background-color: #09263e;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@keyframes ellipsesRotate {
  0% {
    transform: rotate(-45deg);
  }
  100% {
    transform: rotate(-405deg);
  }
}

@keyframes ellipsesOrbit {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
