.container__item {
  margin: 0 auto 40px;
}

.landing-page-container {
  width: 100%;
  min-height: 100vh;
  background-image: url('https://s29.postimg.org/vho8xb2pj/landing_bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;
  color: #09263e;
}

.content__wrapper {
  max-width: 1200px;
  width: 90%;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

.ellipses-container {
  top: 5rem;
  width: 30rem;
  height: 30rem;
  border-radius: 50%;
  margin: 0 auto;
  position: relative;
}

.greeting {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center; /* Center align the text */
  font-weight: 400;
  opacity: 0.9;
}

.greeting-line {
  display: block; /* Ensure each line is on a new line */
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
}

.greeting-line:first-child {
  font-size: 2rem; /* Larger size for "Welcome to VERIFAI" */
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.greeting-line:nth-child(2) {
  text-align: center;
}

.ellipses {
  border-radius: 50%;
  position: absolute;
  top: 0;
  border-style: solid;
}

.ellipses__outer--thin {
  width: 100%;
  height: 100%;
  border-width: 1px;
  border-color: rgba(9, 56, 62, 0.1);
  animation: ellipsesOrbit 15s ease-in-out infinite;

  &:after {
    content: '';
    background-image: url('https://s29.postimg.org/5h0r4ftkn/ellipses_dial.png');
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.15;
  }
}

.ellipses__outer--thick {
  width: 100%;
  height: 100%;
  border-color: #09263e transparent;
  border-width: 2px;
  transform: rotate(-45deg);
  animation: ellipsesRotate 15s ease-in-out infinite;
}

.ellipses__orbit {
  width: 2.5rem;
  height: 2.5rem;
  border-width: 2px;
  border-color: #09263e;
  position: absolute;
  top: 0.5rem;
  right: 6.75rem;

  &:before {
    content: '';
    width: 0.7rem;
    height: 0.7rem;
    border-radius: 50%;
    background-color: #09263e;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.scroller {
  width: 7.5rem;
  position: relative;
  margin: 2rem auto; /* Centered and simplified */
  overflow: hidden;
}

.timeline {
  width: 1.5rem;
  height: 9rem;
  position: relative;
}

.timeline__unit {
  width: 100%;
  height: 0.1rem;
  background-color: #2c3e50;
  margin: 0 0 2rem;
  opacity: 0.2;
}

.timeline__unit--active {
  opacity: 1;
}

@keyframes ellipsesRotate {
  0% {
    transform: rotate(-45deg);
  }
  100% {
    transform: rotate(-405deg);
  }
}

@keyframes ellipsesOrbit {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
