<div class="d-flex align-items-center border-bottom">
  <div><%= image_tag(image, width: "32px", class:"p-2") %></div>
  <div class="vr my-3 opacity-25"></div>
  <div class="p-2">
    <p class="m-0">Fact check</p>
  </div>
</div>
