<div class="card-saved">

  <!-- Check if title  is nil -->
  <% if result.title.nil? %>
    <h1>No title available</h1>
  <% else %>
    <h1 class="truncate"><%= result.title %></h1>
  <% end %>
  <p>Query: <%= result.user_input %></p>

  <div class="row-card">
    <h2>Fact score</h2>

    <!-- Check if fact_score  is nil -->
    <% if result.fact_score.nil? %>
      <p class="tag">n/a</p>
    <% else %>
      <p class="tag"><%= result.fact_score %></p>
    <% end %>
  </div>


  <div class="row-card">
    <h2>Political bias</h2>

    <!-- Check if fact_score  is nil -->
    <% if result.political_bias.nil? %>
      <p class="tag">n/a</p>
    <% else %>
      <p class="tag"><%= result.political_bias  %></p>
    <% end %>
  </div>

</div>
