<%= render "/shared/top_bar", image: "history.svg", pageTitle: "History" %>
<div class="container">
  <div class="d-flex justify-content-end mt-3">
    <%= form_with url: history_path, method: :get, data: { controller: "history-search", action: "input->history-search#submitForm", turbo_frame: "history-results" } do %>
      <div class="input-group">
        <span class="input-group-text">
          <i class="fa-solid fa-magnifying-glass"></i>
        </span>
        <%= text_field_tag :query, params[:query], class: "form-control me-2", placeholder: "Search" %>
      </div>
    <% end %>
  </div>

  <!-- Results will update automatically inside this Turbo Frame -->
  <turbo-frame id="history-results">
    <%= render 'history_results', grouped_results: @grouped_results %>
  </turbo-frame>
</div>
