<div class="devise container">
  <% @groups.first(10).select { |key, values| values.size >= 3 }.each do |key, values| %>
    <p><%= "Group for '#{key.text}': #{values.size}" %></p>
  <% end %>
</div>
