<div data-controller="result" class="container search">
  <h1>Fact Check</h1>
  <div data-result-target = "fullResult" class="d-none layout"></div>
  <div>
    <%= simple_form_for(@result, data: { result_target: "form", action: "submit->result#compute" }) do |f| %>
      <div class="position-relative">
        <%= f.input :user_input, label: false,
            input_html: { class: "form-control input-with-button", placeholder: "Enter the text to analyze here (50 to 5000 characters)",
            id: "user_input", rows: 5,
            data: { controller: "char-counter", action: "input->char-counter#count", char_counter_target: "input" } }
          %>
        <%= f.button :submit, "Check", class: "btn btn-primary send-button" %>
      </div>
      <p><span id="char-count">0</span> / 5000 characters <i id="char-count-icn" class="fa-solid fa-check d-none"></i></p>
    <% end %>
  </div>
</div>
