<%= render "/shared/top_bar", image: "telescope.svg", title: @result.title, result: @result, pageTitle: "Fact check" %>
<div class="container result-container my-4">
  <%= render "results/result", result: @result %>
</div>
