<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
</head>
<body>
  <% unless user_signed_in? %>
    <div class="top-right-button">
      <%= link_to "Get Started", new_user_registration_path, class: "btn btn-primary" %>
    </div>
  <% end %>

    <div class="container">
      <div class="container__item landing-page-container">
        <div class="content__wrapper">
          <div class="ellipses-container">
            <h2 class="greeting" id="rotating-text" data-controller="rotating-text" data-rotating-text-target="text"></h2>
              <div class="ellipses ellipses__outer--thin">
                <div class="ellipses ellipses__orbit"></div>
              </div>
              <div class="ellipses ellipses__outer--thick"></div>
          </div>
        </div>
                <!-- Attributes Section (Initially Hidden) -->
          <div id="attributesContainer" class="attribute-hidden">
            <div class="attribute-card">
              <i class="fas fa-bolt"></i>
              <p>Real-Time Analysis</p>
            </div>
              <div class="attribute-card">
                <i class="fas fa-robot"></i>
                <p>AI-Powered Fact-Checking</p>
              </div>
              <div class="attribute-card">
                <i class="fas fa-users"></i>
                <p>Community-Approach</p>
              </div>
            </div>
        </div>
      </div>
</body>
</html>
