<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
</head>
<body>
    <div class="container-homepage">
      <div class="intro-container">
        <h1>Unveiling The Truth</h1>
        <p>Verifai is your go-to fact-checking companion,
        designed to analyze sources, verify claims, and provide instant credibility scores.
        Stay informed and make data-driven decisions with cutting-edge AI technology.
        </p>
          <%=link_to "Get Started", results_path, class: "get-started-button" %>
      </div>

          <div class="ellipses-container">
            <h2 class="greeting">
              <span class="greeting-line">VERIFAI</span>
              <span class="greeting-line">–</span>
              <span class="greeting-line">THE ULTIMATE FACT CHECKER</span>
            </h2>
            <div class="ellipses ellipses__outer--thin">
              <div class="ellipses ellipses__orbit"></div>
            </div>
              <div class="ellipses ellipses__outer--thick"></div>
          </div>
        </div>
      </div>
    </div>
</body>
</html>
