.alert {
  position: fixed;
  bottom: 16px;
  right: 16px;
  z-index: 1000;
  animation: 1.5s fadeInLeft;
}

@keyframes fadeInLeft {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

.fade-out {
  animation: 1.5s fadeOutRight;
}

@keyframes fadeOutRight {
  0% {
    transform: translateX(0%);
    opacity: 1;
  }
  100% {
    transform: translateX(100%);
    opacity: 0;
  }
}
