.card-saved {
  padding: 16px;
  margin: 8px;
  display: flex;
  background-color: #fff;
  border: 1px solid #d1d9e0;
  display: block;
  border-radius: 8px;
}

.row-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
}

.card-saved h1 {
  font-size: 16px;
  margin-bottom: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid #d1d9e0;
}

.card-saved h2 {
  font-size: 14px;
  margin: 0;
}

.card-saved p {
  font-size: 14px;
  color: #59636e;
  margin-bottom: 0px;
}

.card-saved .tag {
  font-size: 14px;
  color: #262626;
  background-color: #F6F8FA;
  padding: 2px 4px;
  border-radius: 2px;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-container {
  display: block;
  text-decoration: none;
}

.card-container:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
}

.card-container .card {
  cursor: pointer; /* Make the card appear clickable */
  transition: box-shadow 0.3s ease; /* Add smooth shadow transition */
}

.card-container:hover .card {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
}
