// .search {
//   display: flex;
//   flex-direction: column;
//   justify-content: space-between;
//   flex-grow: 1;
//   min-height: unset !important;
// }

p {
  margin-top: 0rem;
  margin-bottom: 0rem;
}

h6 {
  margin-top: 0rem;
  margin-bottom: 0rem;
}

.user-input {
  background-color: #f4f4f5;
  width: 60%;
}

.search .layout {
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.political-bias {
  bottom: 20px;
  right: 48%;
}
