.result-container p {
  margin-top: 0rem;
  margin-bottom: 0rem;
}

.result-container h2 {
  margin-top: 0rem;
  margin-bottom: 0rem;
  font-size: 24px
}

.result-container h3     {
  margin-top: 0rem;
  margin-bottom: 0rem;
  margin-left: $spacing-6;
}

.result-container .muted {
  color: #71717A;
}

.result-container .user-input {
  background-color: #f4f4f5;
  width: 60%;
  border-radius: 12px 0 12px 12px;
}

@media (max-width: 1250px) {
  .result-container .user-input {
    width: 100%;
  }
}

.result-container .political-bias {
  bottom: 20%;
  left: 0px;
  width: 100%;
}

.result-container .card {
  border-radius: 8px !important;
}

.result-container .custom-progress {
  margin-top: 8px;
  --bs-progress-height: 40px;
}

.result-container .fact-check-title {
  margin-bottom: 16px;
}

.result-container .summary {
  margin-top: 16px;
  margin-bottom: 20px
}

.result-container {
  min-height: 50vh !important;
}

.result-container .char-counter {
  font-size: 14px;
}

.result-container .other-sources p {
  font-size: 14px;
}

.result-container .other-sources li::marker {
  color: #71717A;

}

.result-container b {
  font-weight: bold;
}
